.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: black;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}

.gallery {
  grid-auto-flow: row dense;
}

.container {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  will-change: width, height;
}

.hero > img:nth-child(8n + 1) {
  grid-column-end: span 4;
  grid-row-end: span 2;
}

.hero > img:nth-child(8n + 2) {
  grid-column-end: span 3;
}

.hero > img:nth-child(8n + 4) {
  grid-column-end: span 1;
  grid-column-start: 1;
  grid-row-end: span 2;
}

.hero > img:nth-child(8n + 6) {
  grid-column-end: span 2;
}

.hero > img:nth-child(8n + 7) {
  grid-column-end: span 2;
}

.normal > img:nth-child(1) {
  grid-row-end: span 2;
}

.normal > img:nth-child(3) {
  grid-column-end: span 2;
}

.normal > img:nth-child(4) {
  grid-column-end: span 2;
}

.normal > img:nth-child(6) {
  grid-column-end: span 2;
}

.normal > img:nth-child(8) {
  grid-column-start: 4;
  grid-row-end: span 2;
}

.normal > img:nth-child(10) {
  grid-column-end: span 2;
}
