.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: black;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}

.gallery {
  grid-auto-flow: row dense;
}

.container {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: 230px;
  grid-gap: 25px;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  will-change: width, height;
}

.hero > img:nth-child(8n + 1) {
  grid-column-end: span 4;
  grid-row-end: span 2;
}

.hero > img:nth-child(8n + 2) {
  grid-column-end: span 3;
}

.hero > img:nth-child(8n + 4) {
  grid-column-end: span 1;
  grid-column-start: 1;
  grid-row-end: span 2;
}

.hero > img:nth-child(8n + 6) {
  grid-column-end: span 2;
}

.hero > img:nth-child(8n + 7) {
  grid-column-end: span 2;
}

.normal > img:nth-child(1) {
  grid-row-end: span 2;
}

.normal > img:nth-child(3) {
  grid-column-end: span 2;
}

.normal > img:nth-child(4) {
  grid-column-end: span 2;
}

.normal > img:nth-child(6) {
  grid-column-end: span 2;
}

.normal > img:nth-child(8) {
  grid-column-start: 4;
  grid-row-end: span 2;
}

.normal > img:nth-child(10) {
  grid-column-end: span 2;
}

.simple {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.content p + p {
  margin-top: 16px;
}

.content ul {
  margin-top: 16px;
  list-style-type: none; 
  /* list-style-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2053_14256)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.99961 11.8996C6.98981 9.19674 4.79978 7.00869 2.09961 7.00869C4.8058 7.00869 6.99961 4.81079 6.99961 2.09961C7.00936 4.80248 9.19944 6.99053 11.8996 6.99053C9.19337 6.99053 6.99961 9.18843 6.99961 11.8996Z' fill='%23251D15'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2053_14256'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); */
  /* margin-left: 16px; */
}

.content ul > li::before {
  content: '';
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2053_14256)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.99961 11.8996C6.98981 9.19674 4.79978 7.00869 2.09961 7.00869C4.8058 7.00869 6.99961 4.81079 6.99961 2.09961C7.00936 4.80248 9.19944 6.99053 11.8996 6.99053C9.19337 6.99053 6.99961 9.18843 6.99961 11.8996Z' fill='%23251D15'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2053_14256'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-right: 6px;
  margin-top: 4px;
}

.content ul > li {
  display: flex;
  padding-left: 6px;
}

.content ul > li + li {
  margin-top: 8px;
}

